/tmp
node_modules
package-lock.json
.idea
.project
.settings/
.vscode/
/dist
/src
/lib
/deployer/src
/deployer/lib
*-debug.log
*-error.log
/.nyc_output
version.json
runtimes.json
productionProjects.json
404.html
*.tgz
nim.html
changes.html
deployer/minified/
license.html
thirdparty-licenses.md
thirdparty-licenses.html
.nimbella/
__deployer__.zip
tests/deployer/after/
tests/deployer/incremental/
tests/deployer/watched/
tests/deployer/watcher.output
tests/deployer/unweb/project.yml
tests/deployer/webCache/project.yml
tests/deployer/configTypes/project.yml
tests/deployer/parameters
tests/deployer/go/project.yml
tests/deployer/qrcode/
tests/deployer/chat/
/oclif.manifest.json
/bin/nim
