html {
  scroll-behavior: smooth !important;
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: #ffffff;
}

body {
  font-family: 'Open Sans', 'Helvetica-Neue', 'Helvetica', arial, sans-serif;
  min-height: 100%;
  position: relative;
  background: white;
  color: #586163;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

:target {
  padding-top: 130px;
  margin-top: -130px;
}

html, body { height: 100%; }

header { position: fixed; top: 0; background: white; width: 100%; border-bottom: 1px solid #efefef; padding: 3rem 0; }
header h1 { margin-bottom: 0; line-height: 1; color: #122A2E; }

#menuToggle input, #menuToggle span { display: none; }

nav, main {
  padding: 1rem;
  box-sizing: border-box;
  padding-bottom: 80vh;
}

nav {
  position: fixed;
  top: 118px;
  left: 0;
  width: 25%;
  font-size: 0.9em;
  height: 100vh;
  overflow-y: auto;
  background-color: #122A2E;
  padding-left: 0.5em;
  color: white;
}

/*nav ul
  padding-left: 0.5rem;
}*/

/*nav ul li {
  line-height: 1.6em;
}*/


nav > ul {
  margin-top: 0;
}

nav > ul > li {
  padding: 0.5em 0;
}

nav > ul > li > a {
  color: white;
  font-weight: 600;
}

nav a {
  color: #99a7ab;
  text-decoration: none !important;
  transition: color .3s ease-in-out;
}

nav a:hover, nav a:focus {
  color: #00b7d8;
}

main {
  width: 74%;
  float: left;
  margin-left: 26%;
  margin-top: 105px;
}

a {
  color: #0a9db7;
  text-decoration: none !important;
  transition: color .3s ease-in-out;
}

a:hover {
  color: #027084;
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
}

h1{ font-size: 2.2em; }
h2{ font-size: 1.6em; }
h3{ font-size: 1.4em; }
h4{ font-size: 1.2em; }
h5{ font-size: 1em; }
h6{ font-size: 0.8em; }

pre {
  background: #232323;
  line-height: 1.45;
  border-radius: 3px;
  padding: 16px;
  overflow: auto;
}

code {
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
  color: #e83e8c;
  background-color: #efefef;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
  color: #e6e1dc;
  background-color: transparent;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid #46a8b9;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  border: none;
  background-color: white;
  width: 100%;
  color: #586163;
  outline: none;
}

hr {
  border: 1px solid #efefef;
  margin: 3rem auto;
}

li {
  word-break: break-word;
}

img {
  display: block;
  margin: 0 auto;
  height: auto;
}

img[src='./fig1-nim-commands.svg'] {
  width: 70%;
}

img[src='./fig2-nim-example1-project-directory-structure.svg'] {
  width: 25%;
}

img[src='./fig3-nim-project-directory-structure.svg'] {
  width: 50%;
}

img[src='./fig4-nim-example2-project-directory-structure.svg'] {
  width: 25%;
}

img[src='./fig5-nim-example2-complex-directory-structure.svg'] {
  width: 25%;
}

img[src='./fig6-nim-example3-project-directory-structure.svg'] {
  width: 50%;
}

img[src='./fig7-nim-examples-project-chat-react-directory-structure.svg'] {
  width: 50%;
}

@media (max-width: 812px) {
  img[src='./fig2-nim-example1-project-directory-structure.svg'],
  img[src='./fig4-nim-example2-project-directory-structure.svg'],
  img[src='./fig5-nim-example2-complex-directory-structure.svg'] {
    width: 35%;
  }
  img[src='./fig1-nim-commands.svg'],
  img[src='./fig3-nim-project-directory-structure.svg'],
  img[src='./fig6-nim-example3-project-directory-structure.svg'],
  img[src='./fig7-nim-examples-project-chat-react-directory-structure.svg'] {
    width: 100%;
  }

  nav, main, header {
    width: 100%;
    position: unset;
    margin: auto;
    font-size: 1em;
    height: auto;
    overflow-y: auto;
    padding-bottom: unset;
  }

  header { margin-top: 50px; }

  :target { padding-top: 85px; margin-top: -85px; };

  nav#TOC { background: transparent !important; top: 0; left: 0; width: 0; padding: 0; }

  #menuToggle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    background: #122A2E;
    padding: 25px;
  }

  #menuToggle input, #menuToggle span { display: block; }

  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0px, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menuToggle > ul {
    position: fixed;
    width: calc(100% - 50px);
    height: calc(100vh - 127px);
    overflow-y: auto;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #122A2E;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menuToggle ul a {
    color: #99a7ab;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

@media (max-width: 414px) {
  img[src='./fig2-nim-example1-project-directory-structure.svg'],
  img[src='./fig4-nim-example2-project-directory-structure.svg'],
  img[src='./fig5-nim-example2-complex-directory-structure.svg'] {
    width: 100%;
  }
  body { font-size: 1.4em;}
}
